<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0GvLV3WUDxG_OnZ3vSsRki9DtUz4V_2U</string>
	<key>GCM_SENDER_ID</key>
	<string>916469002486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gorosoft.bookme.now</string>
	<key>PROJECT_ID</key>
	<string>bookmenow-d69aa</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmenow-d69aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916469002486:ios:b7215e58cecac7dc55fcd7</string>
</dict>
</plist>